<div class="home-page-div">
    
    <div class="post-edit">
        <a href="/"><img src="/assets/logo.png" alt="stitch-logo" class="small-logo"></a>

        <form action="/posts/<%= post.id %>?_method=put" method="post">

        <div>
            <textarea name="post" maxlength="300" class="edit-post-input"><%= post.post %></textarea>
        </div>

        <button class="update-btn">update</button>

    </form>

    </div>

    <nav class="bottom-nav">
        <a href="/"><img src="/assets/home-icon.png" alt=""></a>
    </nav>
</div>


