
<img src="https://fakeimg.pl/600x300" alt="stitch-logo">

<p>
    hiiiiiii
</p>

<nav>
    <a href="/">home</a>
    <a href="/search">search</a>
    <a href="/posts/new">create a stitch</a>
    <a href="/<%= username %>">profile</a>
</nav>
