<img src="https://fakeimg.pl/600x300" alt="stitch-logo">

<form action="/login" method="post">
    
    <p>
        <%= sessionPrompt %>
    </p>
    <p>
        <label for="">username</label>
        <input type="text" name="username">
    </p>
    <p>
        <label for="">password</label>
        <input type="password" name="password">
    </p>
    <p>
        <button>log in</button>
    </p>

</form>