<div class="home-page-div">

<img src="/assets/logo.png" alt="stitch-logo" class="logo">

<form action="/login" method="post">
    
    <p class="session-prompt">
        <%= sessionPrompt %>
    </p>
    <p>
        <label for="">username</label>
        <input type="text" name="username">
    </p>
    <p>
        <label for="">password</label>
        <input type="password" name="password">
    </p>
    <p>
        <button class="login">log in</button>
    </p>

</form>


</div>